
@use '../../utils' as *;


.ri_feature{
    margin-top: -192px;
    overflow: visible;
    @media #{$md} {
        margin-top: -110px;
    }
    &-area{
        .less-voor-area{
           
            .less-voor{
                width:100% ;
                text-align: right;
                margin-bottom: 20px;
                z-index: 999;
                position: relative;
                @media #{$md} {
                    text-align: left;
                    margin-bottom: 0;
                    transform: translate(-8px , 20px);
                }
               
            }
        }
      
        .slick-list{
            margin-right: 80px;
           
        }
         .slick-dots{
             bottom: -40px;
            
            
                & li {
                    margin-right: 5px;
                    width: 55px;
                    
                    & button{
                        background-color:#D9D9D9 ;
                        width: 55px;
                        height: 0;
                        border-radius: 5px;
                        margin-right: 10px;
                        &::before{
                            display: none;
                        }

                    }
                }
                .slick-active{
                    & button{
                        background-color:#AEAEAE;
                    }
                }
            }
        .item{
            background-color: var(--pri-clr);
            border-radius: 6px;
            padding: 38px 26px 21px 25px;
            position: relative;
             @media #{$md} {
                margin-right: 20px;
            }
           
            & span{
                display: block;
                font-family: $Sans;
                font-weight: 600;
                font-size: 18px;
                line-height: 28px;
                letter-spacing: 10%;
                text-transform: uppercase;
                color: var(--white-clr);
                position: relative;
                margin-bottom: 52px;
                &::after{
                    content: "";
                    width: 113px;
                    height: 2px;
                    background-color: var(--white-clr);
                    position: absolute;
                    bottom: -21px;
                    left: 0;
                }

            }
            & p{
                font-family: $Sans;
                font-weight: 400;
                font-size: 16px;
                line-height: 28px;
                letter-spacing: 0%;
                color: var(--white-clr);
                &:hover{
                    .item{
                        background-color: aqua;
                    }
                }
            }
            .arrow{
                 text-align: right;
                 & a{
                        transition: all 0.3s ease-in-out;

                 }
            }
            &:hover{
                .arrow{
                    & a{
                        margin-right: -10px;
                    }
                }
            }
            &::before{
                content: "";
                width: 12px;
                height: 97px;
                background-color: var(--white-clr) ;
                position: absolute;
                right: -1px;
                top: 21px;
            }
        }
        .slick-active{
           .content{
             .item{
                margin-right: 20px;
                margin-left: -80px;

                
            }
           }
        }
    }
}